@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
* {
  margin: 0;
}

html {
  height: 100%;
  background: #ffffff;
}

header,
nav,
aside,
main,
footer {
  background: #606060;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: #404040;
  max-width: 70em;
  margin: 0em auto;
  height: 100%;
}

footer {
  position: relative;
  clear: both;
  text-align: center;
  height: 2em;
}

aside {
  float: left;
  max-width: 20em;
  padding: 3em 1em;
}

#container {
  height: 100%;
  margin: 0 0 -2em;
}

main {
  max-width: 40em;
  margin: 0 auto;
  float: right;
}

header,
nav {
  height: 5em;
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
  padding: 0;
}

nav li {
  float: left;
}

nav a {
  display: block;
  width: 70px;
  background: #909090;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}

#gplusSignin {
  display: inline-block;
  background: #dd4b39;
  color: white;
  border-radius: 5px;
  border: 0px;
  white-space: nowrap;
}

#gplusSignin:hover {
  background: #e74b37;
  cursor: hand;
}

span.gplusIcon {
  background: url('/static/gplus_btn_red.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-right: #bb3f30 1px solid;
}

span.gplusText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
